<%- include ('./partials/header.ejs'); %>
<%- include ('./partials/homenavbar.ejs'); %>
<body>
    <div class="container"><br>
        <% result.articles.rows.forEach(article => { %>
            <div class="row">
              <div class="col-xs">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title"><%= article.title %></h3>
                    <a name="" id="" class="btn btn-success" href="/<%= article.slug %>" role="button">Ler Mais</a>
                  </div>
                </div>
              </div>
            </div>
        <% }) %>
        <div class="row" >
          <div class="col col-xs">
            <% if (result.page > 2) { %>
              <a style="float:left" name="" id="" class="btn btn-success" href="/page/<%= result.page - 1 %>" role="button">< Prev</a>
              <% } else if(result.page == 2) {%> 
                <a style="float:left" name="" id="" class="btn btn-success" href="/" role="button">< Prev</a>
              <% }%>
            <% if (result.next) { %>
              <a style="float:right" name="" id="" class="btn btn-success" href="/page/<%= result.page + 1 %>" role="button">Next></a>
            <% } %> 
          </div>
        </div>
    </div>
</body> 
<%- include ('./partials/footer.ejs'); %>